<% if @policy.blank? %>
    <div class='well1'>
      'There is no password policy for this account you can choose any password'
      <div class="password-policy hidden">No validation</div>
    </div>

<% else %>
      <b>Your Password should have</b>
      <%= "Minimum Password Length: #{ @policy[:minimum_password_length]}"%>,<%='Should have at least one symbol' if  @policy[:require_symbols]  %>,<%= 'Should have atleast one number' if @policy[:require_numbers] %>,<%= 'Shoule have at least one upper case'  if @policy[:require_uppercase_characters]  %>,<%= 'Should have at least one lower case character ' if @policy[:require_lowercase_characters]  %>
      <div class ="password-policy hidden"><span id="minimum-password-length"><%= @policy[:minimum_password_length]%></span><span id="require_symbols"><%= @policy[:require_symbols]%></span><span id="require_numbers"><%= @policy[:require_numbers]%></span><span id="require_uppercase_characters"><%= @policy[:require_uppercase_characters]%></span><span id="require_lowercase_characters"><%= @policy[:require_lowercase_characters]%></span></div>

<% end %>